@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&display=swap');
*{
    margin: 0px; padding: 0px;
    
}
body{background-color: #333333;}

/*cabeçalho*/
header{
    background-image: linear-gradient(to right, rgb(123, 0, 238), rgb(169, 116, 230), rgb(86, 103, 255));
    display: flex;  flex-direction: column; align-items: flex-start;
    padding: 10px; border-bottom: 2px solid #ddd; 
}
header > a > picture{
    width: 100%; display: flex; align-items: center;
    gap: 10px;
}

header nav{
    width: 100%; margin-top: 10px ; display: flex;
}
header > nav > a{
    display: inline-block;
    justify-content: space-around;
    font-size: 100%;
    margin-top: 10px;
    margin: 10px 10px 0px 10px;
    font-size: 20px;
}
header nav a{
    padding: 3px;
    border: 2px solid; border-radius: 4px;
    background-color: aquamarine;
    color: cornflowerblue;
    text-decoration: none;




    }
header nav a:hover{
    padding: 3px;
    border: 2px solid; border-radius: 4px;
    background-color: rgb(20, 238, 165);
    color: cornflowerblue;
    text-decoration: none;
    display: inline-block;
    justify-content: space-around;
    }
/*responsividade*/
@media(max-width: 768px){
    header > a > picture{
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }
    header nav a{
        flex-direction: column; /* Coloca os links da navegação em coluna */
        align-items: center;
        font-size: 15px;
    }
}
/*responsividade*/

/*cabeçalho*/

/*corpo*/
main > section#objetivo div {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 20px;
 }
main  section#objetivo  picture img{
    display: flex; border-radius: 4px; margin-left: 10px;

}
section#objetivo h2{
    color: aliceblue;
    display: inline-flex;
}
section#objetivo p{
    justify-content: center;
    color: aliceblue;
}
section#objetivo blockquote{
display: flex; 

justify-content: flex-start ;
color: rgb(56, 215, 255);}


section#materias img{border-radius: 8px;}
section#materias picture{
    margin: 20px 10px;

    
}
section#materias h3{
    color: aliceblue;
    text-align: center;
}


/*corpo*/