@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&display=swap');
*{
    margin: 0px; padding: 0px;
    
}
body{background-color: #333333;}

/*cabeçalho*/
header{
    background-image: linear-gradient(to right, rgb(123, 0, 238), rgb(169, 116, 230), rgb(86, 103, 255));
    max-width: 100%;
}
header > div > a > img{
    min-width: 1%; min-height: 1%;
}
header > div{
    display: flex;
    align-items: center;
    max-width: 100%;}
header div nav{ padding: auto; max-width: 50%; display: flex; }
nav div a{
    border: 2px solid; border-radius: 4px; padding: 4px; margin: 3px;
    background-color: aquamarine;
    color: cornflowerblue;
    text-decoration: none;
    max-width: 100%; justify-content: center;}
nav div a:hover{
    border: 2px solid; border-radius: 4px; padding: 4px; margin: 3px;
    background-color: rgb(20, 238, 165);
    color: cornflowerblue;
    text-decoration: none;
    max-width: 100%; justify-content: center;}
/*cabeçalho*/

/*corpo*/
main > section#objetivo div {display: flex;
    align-items: center; }
section#objetivo h2{
    color: aliceblue;
}
section#objetivo p{
    display: inline-flex; justify-content: center;
    color: aliceblue;
}
section#objetivo blockquote{display: flex; justify-content: center;
color: rgb(56, 215, 255);    }



/*corpo*/