@font-face {
    font-family: ubuntu;
    src: url(../fontes/Ubuntu-font/Ubuntu-Regular.ttf);
}
*{
    margin: 0px; padding: 0px;
    
}
body{
    background-image: linear-gradient(to right, rgb(255, 224, 48), rgb(253, 231, 103), rgb(252, 234, 137), 
    rgb(251, 234, 136), rgb(250, 235, 148)); 

}

picture img{
    margin: auto;
    display: block;
    border-radius: 10px;
    border:  10px 10px 10px 10px solid black;
}
main > picture img{
    width: 300px;
    display: flex;
    border: solid rgb(180, 117, 0) 3px;
    box-shadow: 0px 0px 30px 5px black;
}
main > picture img#logo {
    width: 100px;
    display: inline-block;
    border: none;
}
h2{
    text-decoration: underline dotted;
    font-family: ubuntu;
    color: cornflowerblue;
    margin: 10px;
}
p#aviso{
    color: red;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
}
main > nav a {
    text-decoration: underline dashed darkseagreen 3px;
    color: darkcyan;
    font-size: 14pt;
    margin: 10px;
}
@media(max-width: 320px){
    main > picture img{
        width: 100px;

    }
}
@media(max-width: 500px){
    main > picture img{
        width: 200px;

    }
}
@media(min-width: 1000px){
    main > picture img{
        width: 300px;

    }
}