@font-face{
    font-family: "Ubuntu", serif;
    src : url('/fontes/Ubuntu-font/Ubuntu-Regular.ttf')
}
*{
    font-family: "Ubuntu", serif;
    margin: 0px; padding: 0px;
}

body{
    
    background-color: #333333;
}
article{
    background-color: white;
    margin: auto;
    display: block;
    width: 80%;
    border-radius: 7px;
    padding: 20px;
    

}
article > h1 {
    text-align: center;
    background: linear-gradient(to bottom, rgb(1, 153, 1), rgb(56, 248, 56), rgb(0, 151, 211), rgb(0, 83, 116));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    font-weight: bold;
}
article > h3{
    text-align: center;
    text-decoration: underline dotted;
    color: rgb(69, 248, 248);
    font-size: x-large;
}
article > p{
    text-indent: 50px;
    margin: 10px 10px;
}
div#imgtexto {
    display: flex;
    gap: 2%;
}
div#imgtexto > picture > img{
    border-radius: 7px;
}
@media(max-width: 750px){
    div#imgtexto picture img{
        width: 150px; height: 150px;
    }
    div#imgtexto{
        width: 50%;
    }
    body > p{
        font-size: 10pt;
    }
}
@media(max-width: 540px){

    div#imgtexto picture img{
        width: 100px; height: 100px;
    }
 
}
article ul li{
    list-style-position: inside;
}